/out/
/out/
/lab9/lab9.iml
/.idea/
/lab1/lab1.iml
/lab2/lab2.iml
/lab3/lab3.iml
/lab4/lab4.iml
/lab5/lab5.iml
/lab6/lab6.iml
/lab7/lab7.iml
/lab8/lab8.iml
/lab10/lab10.iml
/lab11/lab11.iml
/lab12/lab12.iml
/lab13/lab13.iml
